/**
 * Header
 */
 .jumbotron {
    color: #fff;
    background-color: rgb(34, 32, 153);
}
.jumbotron h1 {
    font-weight: bold;
    font-family: sans-serif;
}
.jumbotron h1 a {
    color: #fff;
}
.jumbotron.compact {
    padding: 0.5rem 1rem;
}
/**
 * Layout
 */
 .main-header {
    position: relative;
    z-index: 500;
    border-radius: 0;
}
.main-footer {
    margin-top: 2em;
    border-top: 3px solid #222;
    padding: 1.5em 1em;
}
 .fullscreen-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}