/**
 * Header
 */
 .jumbotron {
    color: #fff;
    background-color: rgb(34, 32, 153);
}
.jumbotron h1 {
    font-weight: bold;
    font-family: sans-serif;
}
.jumbotron h1 a {
    color: #fff;
}
.jumbotron.compact {
    padding: 0.5rem 1rem;
}
.navbar {
    flex-direction: column;
}
.navbar-brand {
    display: flex;
}
.navbar-nav {
    padding-top: 1em;
}
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    .navbar-nav {
        padding-top: 4em;
    }
}

/**
 * Layout
 */
.main-header {
    position: relative;
    z-index: 500;
    border-radius: 0;
}
.main-footer {
    padding-bottom: 5em;
}
.logo-block img {
    margin: 2em 0;
}
@media (min-width: 768px) {
    .logo-block img {
        margin: 0;
    }
}
.main-header.hover-to-show {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4dadc;
    z-index: 1500;
    transform: translateY(-183px);
    transition: transform 0.2s;
}
.main-header.hover-to-show:hover {
    transform: translateY(0);
}
@media (min-width: 768px) {
    .main-header.hover-to-show {
        transform: translateY(-120px);
    }
}
.half {
    position: absolute;
    top: 19px; /* header */
    bottom: 0;
    width: 50%;
}
.half.left {
    left: 0;
    background-color: #d4dadc;
}
.half.right {
    right: 0;
}
.fullscreen-map {
    position: absolute;
    top: 19px; /* header */
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay-chart {
    position: absolute;
    top: 5em;
    right: 5em;
    height: 20em;
    width: 50em;
    z-index: 900;
}
.modebar,
.plotly-notifier {
    display: none;
}
/**
 * Text
 */
nav ul a {
    color: #555;
    border-bottom: 0.2em solid transparent;
    margin: 0 0.5em;
}
nav ul a:active,
nav ul a:focus,
nav ul a:hover {
    color: #555;
    text-decoration: none;
    border-bottom-color: #555;
}
.h6 {
    font-weight: bold;
}
article p {
    max-width: 45em;
}
img, video {
    max-width:100%;
}
strong {
    font-weight: bold;
}
/**
 * Pullout
 */
.pullout {
    position: absolute;
    top: 20px; /* header + 1*/
    left: 0;
    bottom: 0;
    width: 20em;
    background: #fff;
    box-shadow: 2px 0px 2px -2px #222;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.2s;
}
.pullout.active {
    transform: translateX(0);
}
.pullout .tabs {
    position: absolute;
    top: 0;
    right: -2em;
    width: 2em;
}
.pullout .tabs-inner {
    position: absolute;
    left: 0;
    top: -2em;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.pullout .tab {
    height: 2em;
    display: inline-block;
    white-space: nowrap;
    background: #fff;
    padding: 0 0.5em;
    border-radius: 3px 3px 0 0;
    border: 1px solid #222;
    box-shadow: 2px -2px 2px -2px #222;
    border-width: 1px 1px 0 0;
    cursor: pointer;
}
.pullout .content {
    padding: 1em 0.5em;
}
