/**
 * Layout
 */
 .fullscreen-showable {
    overflow: hidden;
    position: absolute;
    top: 14px; /* header */
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 780px;
 }
    .fullscreen-map {
        position: absolute;
        top: 0;
        left: 320px; /* pullout */
        right: 0;
        bottom: 0;
    }
    /* override leaflet text style, reset to bootstrap */
    .leaflet-container {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
    }
    .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
        font-size: 0.833rem;
    }

    #chart-area {
        background: #fff;
        box-shadow: -2px 0px 2px -2px #222;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 320px;
        padding: 0.5em 2.5em 0.5em 3.5em;
        z-index: 1000;
        transform: translateY(100%);
        transition: transform 0.2s;
        overflow: auto;
    }
    #chart-area.active {
        transform: translateY(0);
    }
    #chart-area .close {
        position: absolute;
        top: 4px;
        right: 16px;
        z-index: 100;
        padding: 12px;
    }
        .overlay-chart {
            position: absolute;
            top: 5em;
            right: 5em;
            height: 20em;
            width: 50em;
            z-index: 900;
        }
        .loading-indicator {
            display: none;
        }
        .chart-outer-container {
            opacity: 1;
            transition: opacity 0.2s;
        }
        .error .chart-outer-container,
        .loading .chart-outer-container{
            opacity: 0;
            transition: opacity 0s;
        }
        .loading .loading-indicator {
            display: block;
        }
        .error-indicator {
            display: none;
        }
        .error .error-indicator {
            display: block;
        }
 /**
 * Header
 */
.navbar {
    flex-direction: column;
}
.navbar-brand {
    display: flex;
}
.navbar-nav {
    padding-top: 1em;
}
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    .navbar-nav {
        padding-top: 4em;
    }
}
.main-header {
    position: relative;
    z-index: 500;
    border-radius: 0;
}
.main-footer {
    padding-bottom: 5em;
}
.logo-block img {
    margin: 2em 0;
}
@media (min-width: 768px) {
    .logo-block img {
        margin: 0;
    }
}
.main-header.hover-to-show {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4dadc;
    z-index: 1500;
    transform: translateY(-183px);
    transition: transform 0.2s;
}
.main-header.hover-to-show:hover {
    transform: translateY(0);
}
@media (min-width: 768px) {
    .main-header.hover-to-show {
        transform: translateY(-120px);
    }

}
/**
 * Text
 */
nav ul a {
    color: #555;
    border-bottom: 0.2em solid transparent;
    margin: 0 0.5em;
}
nav ul a:active,
nav ul a:focus,
nav ul a:hover {
    color: #555;
    text-decoration: none;
    border-bottom-color: #555;
}
.h6 {
    font-weight: bold;
}
article p {
    max-width: 45em;
}
img, video {
    max-width:100%;
}
strong {
    font-weight: bold;
}
/**
 * Pullout
 */
.pullout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background: #fff;
    box-shadow: 2px 0px 2px -2px #222;
    z-index: 1000;
}
.pullout .tabs {
    position: absolute;
    top: 0;
    right: -2em;
    width: 2em;
}
.pullout .tabs-inner {
    position: absolute;
    left: 0;
    top: -2em;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.pullout .tab {
    height: 2em;
    display: inline-block;
    white-space: nowrap;
    background: #efefef;
    padding: 0 0.5em;
    border-radius: 3px 3px 0 0;
    border: 1px solid #222;
    box-shadow: 2px -2px 2px -2px #222;
    border-width: 1px 1px 0 0;
    cursor: pointer;
    color: #222;
}
.pullout .tab:hover {
    text-decoration: none;
}
.pullout .tab.active,
.pullout .tab:active,
.pullout .tab:hover,
.pullout .tab:focus {
    background-color: #fff;
    outline: none;
}
.pullout .tab-content {
    display: none;
    padding: 1em 0.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}
.pullout .tab-content.active {
    display: block;
}
.pullout .close {
    z-index: 100;
    position: absolute;
    top: 1px;
    right: 13px;
}
/**
 * Layer control
 */
.layer-control-text::before {
    content: ' ';
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 0.35em;
    margin: 0 0.2em 0.1em 0;
}
.layer-control-text.river_thames::before {
    background: #0f9fff;
}
.layer-control-text.thames_basin_rivers::before {
    background: #61c5ff;
}
.layer-control-text.reservoir::before {
    background: #8031ff;
}
.layer-control-text.abstraction::before {
    background: #28fd81;
}
.layer-control-text.treatment::before {
    background: #ff2aad;
}
.layer-control-text.pumping::before {
    background: #fd5b2a;
}
.layer-control-text.distribution::before {
    background: #01ca55;
}
.layer-control-text.desalination::before {
    background: #3af8ff;
}
.layer-control-text.link::before {
    background: #ffdf28;
}
.layer-control-text.water_resource_zones::before {
    background: #ff3e5e;
}
.layer-control-text.catchment_areas::before {
    background: #513eff;
}
