/**
 * Layout
 */
 .fullscreen-showable {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 780px;
 }
.fullscreen-map {
    position: absolute;
    top: 0;
    left: 380px; /* pullout */
    right: 0;
    bottom: 0;
}
/* override leaflet text style, reset to bootstrap */
.leaflet-container {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 0.833rem;
}
.leaflet-popup-content-wrapper {
    max-height: 500px;
    overflow-y: scroll;
}
.leaflet-container a.leaflet-popup-close-button {
    right: 15px; /* nudge close button out from over scroll bar */
}

#chart-area {
    background: #fff;
    box-shadow: -2px 0px 2px -2px #222;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 380px;
    padding: 0.5em 2.5em 0.5em 3.5em;
    z-index: 1000;
    transform: translateY(100%);
    overflow: auto;
}
#chart-area.active {
    transform: translateY(0);
}
.overlay-chart {
    position: absolute;
    top: 5em;
    right: 5em;
    height: 20em;
    width: 50em;
    z-index: 900;
}
.loading-indicator {
    display: none;
}
.chart-outer-container {
    opacity: 1;
    transition: opacity 0.4s;
}
.error .chart-outer-container,
.loading .chart-outer-container{
    opacity: 0;
    transition: opacity 0s;
}
.loading .loading-indicator {
    display: block;
}
.error-indicator {
    display: none;
}
.error .error-indicator {
    display: block;
}
 /**
 * Header
 */
.navbar {
    flex-direction: column;
}
.navbar-brand {
    display: flex;
}
.navbar-nav {
    padding-top: 1em;
}
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    .navbar-nav {
        padding-top: 4em;
    }
}
.main-header {
    position: relative;
    z-index: 500;
    border-radius: 0;
}
.main-header .close {
    position: absolute;
    left: 10px;
    top: 3px;
    z-index: 10;
}
.main-footer {
    padding-bottom: 5em;
}
.logo-block img {
    margin: 2em 0;
}
@media (min-width: 768px) {
    .logo-block img {
        margin: 0;
    }
}
.main-header.hover-to-show {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4dadc;
    z-index: 1500;
    transform: translateY(-200px);
    transition: transform 0.2s;
}
.main-header.hover-to-show.active {
    transform: translateY(0);
}
@media (min-width: 768px) {
    .main-header.hover-to-show {
        transform: translateY(-150px);
    }
}
/**
 * Text
 */
nav ul a {
    color: #555;
    border-bottom: 0.2em solid transparent;
    margin: 0 0.5em;
}
nav ul a:active,
nav ul a:focus,
nav ul a:hover {
    color: #555;
    text-decoration: none;
    border-bottom-color: #555;
}
.h6 {
    font-weight: bold;
}
article p {
    max-width: 45em;
}
ul {
    padding-left: 1.15em;
}
img, video {
    max-width:100%;
}
strong {
    font-weight: bold;
}
/**
 * Forms (see bootstrap components)
 */
.btn-outline-light {
    border-color: #ced4da;
}
/**
 * Pullout
 */
.pullout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 380px;
    background: #fff;
    box-shadow: 2px 0px 6px -4px #222;
    z-index: 1000;
}
.pullout .tabs {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35px;
    overflow: hidden;
}
.pullout .tabs:hover {
    overflow: visible;
}
.pullout .tabs-inner {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8em;
    background: #222;
    background: rgba(0,0,0,0.8);
}
.pullout .tab,
.pullout .menu-tab {
    display: block;
    min-width: 8em;
    font-size: 1rem;
    padding: 0.25em 0.5em 0.5em;
    border-top: 1px solid #fff;
    cursor: pointer;
    color: #fff;
}
.pullout .tab img {
    width: 16px;
    min-height: 16px;
    margin: 0 4px 0 2px;
    vertical-align: middle;
    display: inline-block;
}
.pullout .tab span,
.pullout .menu-tab span {
    display: inline-block;
}
.pullout .tab:hover,
.pullout .menu-tab:hover {
    text-decoration: none;
}
.pullout .tab.active,
.pullout .tab:active,
.pullout .tab:hover,
.pullout .tab:focus,
.pullout .menu-tab.active,
.pullout .menu-tab:active,
.pullout .menu-tab:hover,
.pullout .menu-tab:focus {
    background-color: #000;
    outline: none;
}
.pullout .tab-content {
    display: none;
    padding: 1em 0.75em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    right: 0;
    overflow-y: auto;
}
.pullout .tab-content.active {
    display: block;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width: 18px;
    height: 16px;
    margin: 0 2px;
}
/**
 * Layer control
 */
.layer-control-text::before {
    content: ' ';
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 0.35em;
    margin: 0 0.2em 0.1em 0;
}
.layer-control-text.river_thames::before {
    background: #0f9fff;
}
.layer-control-text.thames_basin_rivers::before {
    background: #61c5ff;
}
.layer-control-text.reservoir::before {
    background: #8031ff;
}
.layer-control-text.abstraction::before {
    background: #28fd81;
}
.layer-control-text.treatment::before {
    background: #ff2aad;
}
.layer-control-text.pumping::before {
    background: #fd5b2a;
}
.layer-control-text.distribution::before {
    background: #01ca55;
}
.layer-control-text.desalination::before {
    background: #3af8ff;
}
.layer-control-text.link::before {
    background: #ffdf28;
}
.layer-control-text.water_resource_zones::before {
    background: #ff3e5e;
}
.layer-control-text.catchment_areas::before {
    background: #513eff;
}
/**
 * Table hints
 */
.options-table-container,
.decisions-table-container {
    display: none;
}
.options-table-container.active,
.decisions-table-container.active {
    display: block;
}
.table {
    width: auto;
}
.table td,
.table th {
    border-top-color: #fff;
}
.bg-low {
    background: #ebfff3;
}
tr:hover .bg-low {
    background: #d3ffe5;
}
.bg-med {
    background: #fffbe5;
}
tr:hover .bg-med {
    background: #fff7c9;
}
.bg-high {
    background: #ffede7;
}
tr:hover .bg-high {
    background: #ffdace;
}
